@charset "UTF-8";
/* ----------------------------------------------------
  common
---------------------------------------------------- */
body {
  font-size: 0.875rem;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans" ,Meiryo, sans-serif;
  line-height: 1.8;
  padding-top: 104px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-ttl {
  font-size: 1.125rem;
}

.main__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main__outer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
  }
}

/* ----------------------------------------------------
  header
---------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.logo {
  margin: 20px 0;
  width: 145px;
}

.gnav__wrapper {
  background-color: #333;
}

.gnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gnav > li + li {
  margin-left: 60px;
}

.gnav > li > a {
  color: #fff;
  text-transform: uppercase;
}

/* ----------------------------------------------------
  pick up
---------------------------------------------------- */
.picup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 34px;
}

@media screen and (min-width: 768px) {
  .picup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 44px;
  }
}

@media screen and (min-width: 768px) {
  .picup .card {
    width: calc((100% - 5%) / 3);
  }
}

.picup .card + .card {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .picup .card + .card {
    margin-top: 0;
  }
}

.picup .card__ttl {
  margin-top: 10px;
  font-weight: bold;
}

.picup .card__link {
  margin-top: 15px;
  text-align: center;
}

/* ----------------------------------------------------
  メイン記事
---------------------------------------------------- */
.main {
  margin-top: 100px;
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 0;
    width: 65%;
  }
}

.main .card + .card {
  margin-top: 90px;
}

@media screen and (min-width: 768px) {
  .main .card + .card {
    margin-top: 80px;
  }
}

.main .card__ttl {
  font-size: 1.5rem;
}

.main .card__caption {
  margin-top: 15px;
  font-size: 0.75rem;
}

.main .card__caption > span {
  margin-left: 14px;
}

.main .card__img {
  margin-top: 10px;
}

.main .card__txt {
  margin-top: 10px;
  padding: 0 42px;
  font-size: 1rem;
}

.main .card__link {
  margin-top: 30px;
  text-align: center;
}

.main .card__link > a {
  text-transform: uppercase;
}

/* ----------------------------------------------------
  aside
---------------------------------------------------- */
@media screen and (min-width: 768px) {
  .aside {
    width: 31%;
  }
}

/* ----------------------------------------------------
  author
---------------------------------------------------- */
.author {
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .author {
    margin-top: 10px;
  }
}

.author__inner {
  text-align: center;
}

.author__img {
  width: 130px;
  border-radius: 50%;
}

.author__name {
  margin-top: 40px;
}

.author__txt {
  margin-top: 30px;
}

/* ----------------------------------------------------
  ranking
---------------------------------------------------- */
.ranking {
  margin-top: 60px;
}

.ranking .section-ttl {
  text-align: center;
}

.ranking .card__img {
  margin-top: 30px;
}

/* ----------------------------------------------------
  archive
---------------------------------------------------- */
.archive {
  margin-top: 60px;
}

.archive .section-ttl {
  text-align: center;
}

.archive__list {
  margin-top: 30px;
  border-top: 1px solid #777;
}

.archive__list > li {
  padding: 20px;
  border-bottom: 1px solid #777;
}

/* ----------------------------------------------------
  footer
---------------------------------------------------- */
.footer {
  margin-top: 120px;
  padding-top: 50px;
  background-color: #F7F7F7;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 140px;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-box {
  width: calc((100% - 100px) / 3);
}

.about__txt {
  margin-top: 30px;
}

.about__link {
  margin-top: 20px;
}

.about__link > li::before {
  content: "▶︎ ";
}

.menu {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: 0;
  }
}

.sub-nav {
  margin-top: 30px;
  border-top: 1px solid #777;
}

.sub-nav > li {
  padding: 15px;
  border-bottom: 1px solid #777;
}

.sub-nav > li > a {
  display: block;
  text-transform: uppercase;
}

.twitter {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .twitter {
    margin-top: 0;
  }
}

.twitter__inner {
  margin-top: 30px;
}

.copyright {
  padding: 90px 0 10px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */