@charset "UTF-8";

// 本文のフォントカラー
$mainFontColor: #333;

// フォント
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

// ブレイクポイント
$breakPoint: 768px;
// メディアクエリー
@mixin mediaScreenMedium {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}


/* ----------------------------------------------------
  common
---------------------------------------------------- */
body {
  font-size: rem(14);
  color: $mainFontColor;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans" ,Meiryo, sans-serif;
  line-height: 1.8;
  padding-top: 104px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: $mainFontColor;
}
.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 16px;
}
.section-ttl {
  font-size: rem(18);
}
.main__outer {
  display: flex;
  flex-direction: column;
  @include mediaScreenMedium {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
  }
}


/* ----------------------------------------------------
  header
---------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.logo {
  margin: 20px 0;
  width: 145px;
}
.gnav__wrapper {
  background-color: #333;
}
.gnav {
  display: flex;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gnav > li + li {
  margin-left: 60px;
}
.gnav > li > a {
  color: #fff;
  text-transform: uppercase;
}


/* ----------------------------------------------------
  pick up
---------------------------------------------------- */
.picup {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  @include mediaScreenMedium {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
  }
}
.picup .card {
  @include mediaScreenMedium {
    width: calc((100% - 5%) / 3);
  }
}
.picup .card + .card {
  margin-top: 30px;
  @include mediaScreenMedium {
    margin-top: 0;
  }
}
.picup .card__ttl {
  margin-top: 10px;
  font-weight: bold;
}
.picup .card__link {
  margin-top: 15px;
  text-align: center;
}


/* ----------------------------------------------------
  メイン記事
---------------------------------------------------- */
.main {
  margin-top: 100px;
  @include mediaScreenMedium {
    margin-top: 0;
    width: 65%;
  }
}
.main .card + .card {
  margin-top: 90px;
  @include mediaScreenMedium {
    margin-top: 80px;
  }
}
.main .card__ttl {
  font-size: rem(24);
}
.main .card__caption {
  margin-top: 15px;
  font-size: rem(12);
}
.main .card__caption > span {
  margin-left: 14px;
}
.main .card__img {
  margin-top: 10px;
}
.main .card__txt {
  margin-top: 10px;
  padding: 0 42px;
  font-size: rem(16);
}
.main .card__link {
  margin-top: 30px;
  text-align: center;
}
.main .card__link > a {
  text-transform: uppercase;
}


/* ----------------------------------------------------
  aside
---------------------------------------------------- */
.aside {
  @include mediaScreenMedium {
    width: 31%;
  }
}


/* ----------------------------------------------------
  author
---------------------------------------------------- */
.author {
  margin-top: 80px;
  @include mediaScreenMedium {
    margin-top: 10px;
  }
}
.author__inner {
  text-align: center;
}
.author__img {
  width: 130px;
  border-radius: 50%;
}
.author__name {
  margin-top: 40px;
}
.author__txt {
  margin-top: 30px;
}


/* ----------------------------------------------------
  ranking
---------------------------------------------------- */
.ranking {
  margin-top: 60px;
}
.ranking .section-ttl {
  text-align: center;
}
.ranking .card__img {
  margin-top: 30px;
}


/* ----------------------------------------------------
  archive
---------------------------------------------------- */
.archive {
  margin-top: 60px;
}
.archive .section-ttl {
  text-align: center;
}
.archive__list {
  margin-top: 30px;
  border-top: 1px solid #777;
}
.archive__list > li {
  padding: 20px;
  border-bottom: 1px solid #777;
}


/* ----------------------------------------------------
  footer
---------------------------------------------------- */
.footer {
  margin-top: 120px;
  padding-top: 50px;
  background-color: #F7F7F7;
  @include mediaScreenMedium {
    margin-top: 140px;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  @include mediaScreenMedium {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-box {
  width: calc((100% - 100px) / 3);
}
.about__txt {
  margin-top: 30px;
}
.about__link {
  margin-top: 20px;
}
.about__link > li::before {
  content:"▶︎ ";
}
.menu {
  margin-top: 50px;
  @include mediaScreenMedium {
    margin-top: 0;
  }
}
.sub-nav {
  margin-top: 30px;
  border-top: 1px solid #777;
}
.sub-nav > li {
  padding: 15px;
  border-bottom: 1px solid #777;
}
.sub-nav > li > a {
  display: block;
  text-transform: uppercase;
}
.twitter {
  margin-top: 30px;
  @include mediaScreenMedium {
    margin-top: 0;
  }
}
.twitter__inner {
  margin-top: 30px;
}
.copyright {
  padding: 90px 0 10px;
  text-align: center;
}

